---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Note:** For more information, see the [F5 Distributed Cloud API documentation](https://docs.cloud.f5.com/docs/api/).

## Example Usage

{{ if .HasExamples }}
{{ range .ExampleFiles }}
{{ tffile . }}
{{ end }}
{{ else }}

```hcl
data "{{ .Name }}" "example" {
  name      = "example-resource"
  namespace = "system"
}
```

{{ end }}

{{ .SchemaMarkdown | trimspace }}
